[Unit]
Description=Raccoon SIEM Correlator

[Service]
ExecStart=/usr/local/bin/raccoon correlator \
    --core http://localhost:7220 \
    --bus nats://localhost:4222 \
    --storage http://localhost:9200 \
    --al.url localhost:6379 \
    --metrics 7222 \
    --id example-01

User=raccoon
Group=raccoon
Restart=always
RestartSec=5
LimitNOFILE=65535

[Install]
WantedBy=multi-user.target
