<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>Label</key>
        <string>raccoon_core</string>

        <key>ProgramArguments</key>
        <array>
                <string>/usr/local/bin/raccoon</string>
                <string>core</string>
                <string>--db</string>
                <string>/usr/local/var/raccoon/raccoon.db</string>
                <string>--listen</string>
                <string>:7220</string>
        </array>

        <key>RunAtLoad</key>
        <true/>
    </dict>
</plist>